.personal-data_bigcontainer {
  display: flex;
  justify-content: space-evenly;
  width: 85%;
  margin: 2rem auto;
}

.personal-data_input-titelcontainer {
  width: 25.56rem;
  max-height: 18.75rem;
  margin-right: 3.12rem;
}
