* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
#root {
  min-height: 100vh;
  background-color: black;
  display: flex;
  flex-direction: column;
}

@font-face {
  font-family: computer;
  src: url("./assets/PixeloidSans.ttf");
}

@font-face {
  font-family: death;
  src: url("./assets/WhoAsksSatan-5vxx.ttf");
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
