* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
}

#root {
  min-height: 100vh;
  background-color: black;
  margin-top: auto;
  display: flex;
  flex-direction: column;
}

@font-face {
  font-family: computer;
  src: url("./assets/PixeloidSans.ttf");
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
